body{
    background-color: cadetblue;
}

.title {
    text-align: center;
    color: rgba(102, 2, 2, 0.363);
}

.Miner {
    margin: auto;
    display: block; 
    border: 3px solid;
}

button {
    margin: auto;
    display: block;
    
}